{% extends "store/base.html" %}

{% block title %}
<title>{{book.title}} | Library</title>
{% endblock %}

{% block content %}
<h2>Title: {{ book.title }}</h2>

<dl>
    <dt>Genre:</dt>
    <dd>{{book.genre}}</dd>
    <dt>Author:</dt>
    <dd>{{book.author}}</dd>
    <dt>Description:</dt>
    <dd>{{book.description}}</dd>
    <dt>Rating:</dt>
    <dd>{{book.rating}}</dd>
    <dt>MRP:</dt>
    <dd>Rs.{{book.mrp}}</dd>
    <dt>Available Copies:</dt>
    <dd>{{num_available}}</dd>
    {% if user.is_authenticated %}
    <dt>Rate {{book.title}}:Your previous rating was {{pr}}</dt>
 	<form >
	  <input type="number" name="rating" id="rating" min="0" max="10">
	  <input type="submit" id="rate-button">
	</form>
	
</dl>

<button class="btn btn-primary" id="loan-button">Loan {{book.title}}</button>{% endif %}
<script>
$("#loan-button").click(function(){
    $.ajax({
		url:"{% url 'loan-book' %}",
		method:"POST",
		data:{
			bid: {{book.id}}
		},
		success:function(data,status,xhr){
			if(data['message']==1){
                alert("Book successfully issued");
                window.location.replace("/books/loaned");
			}
			else{
				alert("Unable to issue this book");
			}
		},
		error:function(xhr,status,err){
			alert("Some error occured");
		}

	})
})
</script>
<script>
$("#rate-button").click(function(){
    var rating = document.getElementById("rating").value;
    
    if(rating<=10){
    $.ajax({
		url:"{% url 'rate-book' %}",
		method:"POST",
		data:{
			bid: {{book.id}},
			rating: rating
		},
		success:function(data,status,xhr){
			if(data['message']==1){
                alert("Book successfully rated");
                window.location.replace("/books");
			}
			else{
				alert("Unable to rate this book");
			}
		},
		error:function(xhr,status,err){
			alert("Some error occured");
		}

	})
}else alert("Enter a number between 1 to 10");}

)




</script>
{% endblock %}